<?php
$dbHost = "host";
$dbPort = 3306;
$dbName = "gts";
$dbUser = "gts";
$dbPass = "pass";
$dbTable = "TrackLog";

$gpsProvider    = "Provider";
$enableUpdate   = true;

$wsURL          = "http://190.12.73.86/json/json_receive.php";
